[Desktop Entry]
Type=Application
Name=Schist
GenericName=Image Editor
Comment=Layered image editing with PSD support
Exec=schist %f
Icon=place.astrid.schist
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/vnd.adobe.photoshop;application/x-affinity-photo;application/x-affinity-designer;application/x-affinity-publisher;application/x-affinity-document;image/png;image/jpeg;image/tiff;image/webp;image/heif;image/heic;
