[Desktop Entry]
Type=Application
Name=Schist
GenericName=Image Editor
Comment=Layered image editing with PSD support
Exec=schist %f
Icon=com.infrawrench.schist
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/vnd.adobe.photoshop;application/x-affinity-photo;application/x-affinity-designer;application/x-affinity-publisher;application/x-affinity-document;image/png;image/jpeg;image/tiff;image/webp;image/heif;image/heic;image/x-dcraw;image/x-adobe-dng;image/x-canon-cr2;image/x-canon-cr3;image/x-canon-crw;image/x-fuji-raf;image/x-nikon-nef;image/x-nikon-nrw;image/x-olympus-orf;image/x-panasonic-rw2;image/x-panasonic-rw;image/x-pentax-pef;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;image/x-minolta-mrw;image/x-sigma-x3f;image/x-kodak-dcr;image/x-kodak-kdc;
